.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background-color: #dbd8d8;
  color: #000;
  font-weight: 600;

  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  transition: all 0.2s ease;
  white-space: nowrap;
}

.botao:hover {
  background-color: #adadad;
}

.ativo {
  background-color: #d4a017;
  color: #fff;
  transform: scale(1.05);
}

/* MOBILE */
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .botao {
    width: 100%;
  }
}